.wrapper {
    max-width: 95%;
    margin: 0 auto;

    @media screen and (width >=390px) {
        max-width: 90%;
    }

    @media screen and (width >=480px) {
        max-width: 85%;
    }

    @media screen and (width >=560px) {
        max-width: 80%;
    }

    @media screen and (width >=640px) {
        max-width: 75%;
    }

    @media screen and (width >=752px) {
        max-width: 710px;
    }

    @media screen and (width >=1024px) {
        max-width: 900px;
    }

    @media screen and (width >=1248px) {
        max-width: 1100px;
    }

    @media screen and (width >=1440px) {
        max-width: 1300px;
    }

    @media screen and (width >=1800px) {
        max-width: 1500px;
    }
}
