:root{
    --main-background: #fff;
    --brown: #956239;
    --red: #FF1F00;
    --brown-darker: #372516;
    --main-orange: #FF9900;
}

.flex {
    display: flex
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}

.columns {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.w-full {
    width: 100%
}

.text-orange {
    color: var(--main-orange);
}

.text-white {
    color: var(--main-background);
}

.text-inherit {
    color: inherit;
}

.background-brown {
    background-color: var(--brown);
}

.rounded-full {
    border-radius: 999999999px;
}

.p-0 {
    padding: .5rem
}

.p-1 {
    padding: 1rem
}

.p-2 {
    padding: 2rem
}